*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: gray;
}
body{
    display: flex;
    margin: auto;
    justify-content: center;
    background-image: url('bgr.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size:cover
}
.calcContainer{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    margin: auto;
    justify-content: center;
    height:46rem;
    width: 600px;
    border-radius: 10px;
}
.calculator{
    padding:70px 30px 30px 30px;
}
.result{
    height:6rem;
    background-color: white;
    font-size: 50px;
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.btn{
    background-color: rgb(212, 210, 207);
    position: relative;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    border: 1px solid gainsboro;
}
.clear{
    grid-column: 1;
    grid-row: 2/6;
    font-size: 2rem;
    border: none;
    background-color: rgb(151, 231, 204);
}
.btn-primary{
    background-color: rgb(115, 115, 119);
    color: gainsboro
}
.equal{
    background-color: rgb(151, 188, 231);
}
.btn:hover, .equal:hover{
    cursor:pointer;
    filter: brightness(90%);
}
@media screen and (max-width: 700px){
    .calcContainer{
        background-color: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;}
    .calculator{padding: 2vw; margin: 2vw;}
    .calcContainer{height: 60vw; width:40vw; }
    .result{height: 12vw;font-size: 6vw;}
    .btn{height:10vw;width:10vw;font-size: 6vw}
    .clear{font-size: 5vw; width:10vw}
        
};
  
    
